#classify
  clearfix()
  position: relative
  display: block
  border-top: 1px solid $dark-blue
  border-bottom: 1px solid $dark-blue
  margin-top: 100px

  .galaxy
    width: $one-half
    margin-right: $gutter-size
    float: left

    img
      cursor: pointer
      width: 424px
      height: 424px
      float: left

  .tree
    float: left
    width: $one-half
    margin-top: $gutter-size

    .directions
      font-family: "Open Sans", sans-serif
      font-size: 0.8em
      font-style: italic
      margin: 2em 0 0 0

    .top
      clearfix()

      h1
        float: left
        display: inline
        font-family: "Open Sans Condensed"
        font-weight: 300
        margin: 6px 0 0 0
        width: 100px

      .buttons
        clearfix()
        float: right
        display: inline-block
        width: $one-half - 100px
        margin: 15px 0
        padding: 0

        li
          display: inline-block
          text-align: center
          line-height: 30px
          list-style: none
          width: $column-size + 0.5 * $gutter-size
          margin-left: 10px

          a
            display: block
            width: 100%
            font-family: "Open Sans"
            font-size: 10px
            font-weight: 700
            background-color: $light-blue
            color: #000000
            -webkit-border-radius: 3px
            border-radius: 3px

            &.active
              background-color: $green

        li.left
          icons()
          position: relative
          float: left
          width: 30px
          height: 30px
          margin: 0 10px 0 10px

          .label
            position: absolute
            bottom: -25px
            left: -10px
            width: 50px
            text-align: center
            font-family: "Open Sans"
            font-size: 10px
            font-weight: 700
            color: $blue

            &.group
              color: $green

        li.right
          float: right

    .question
      font-family: "Open Sans"
      position: absolute
      bottom: 0px
      right: 0px

      .heading
        text-transform: uppercase
        font-size: 12px
        font-weight: 700
        padding: 0px
        margin: 0px

      .text
        font-size: 15px
        padding: 0px
        margin: 0 0 40px 0

      .buttons
        display: table
        width: $one-half
        padding: 0px
        border-top: 1px solid $dark-blue
        border-right: 1px solid $dark-blue
        border-left: 1px solid $dark-blue

        .row
          display: table-row
          height: 120px
          text-align: center
          padding: 10px 0

          .answer, .checkbox
            display: table-cell
            position: relative
            height: 100px
            text-align: center
            padding: 0
            cursor: pointer

            .icon, .icon .hover
              margin: 0 auto
              display: block
              position: relative
              text-align: center

              .hover
                $line-height = 18px
                position: relative
                top: -($line-height / 2.0)
                width: 90%
                height: $gutter-size
                color: #AAAAAA
                font-family: 'Open Sans'
                font-weight: 600
                font-size: 11px
                line-height: $line-height
                margin: 0 auto
                padding: 0px 3px

              a
                workflow-icons()
                display: block
                position: relative
                margin: 0 auto

            &.not-iOS:hover
              background-color: rgba(0, 60, 87, 0.7)

              .hover
                color: $light-gray

            &.active
              background-color: rgba(0, 60, 87, 1.0)

              .hover
                color: $light-gray

.down-for-maintenance
  opacity: 1
  -moz-transition: opacity 0.5s 2s
  -webkit-transition: opacity 0.5s 2s
  transition: opacity 0.5s 2s

  &.hidden
    opacity: 0
