#classify
  position: relative
  display: block
  border-top: 1px solid $rules
  border-bottom: 1px solid $rules
  margin-top: 100px
  padding: $gutter-size 0px 0px 0px
  
  .galaxy
    width: $one-half
    margin-bottom: $gutter-size
    margin-right: $gutter-size
    float: left
    
    img
      width: 424px
      height: 424px
      float: left
  
  .tree
    float: left
    width: $one-half
    margin-top: $gutter-size
    
    .top
      h1
        display: inline
        font-family: "Open Sans Condensed"
      
      .help
        float: right
        
        li
          font-family: "Open Sans"
          font-size: 10px
          font-weight: 700
          text-align: center
          line-height: 20px
          list-style: none
          min-width: $column-size + 0.5 * $gutter-size
          float: left
          background: $light-blue
          margin-left: 10px
          color: black
          -webkit-border-radius: 3px
    
    .question
      font-family: "Open Sans"
      position: absolute
      bottom: 0px
      right: 0px
      
      -webkit-transition: all 0.5s ease-out
      -moz-transition: all 0.5s ease-out
      -o-transition: all 0.5s ease-out
      transition: all 0.5s ease-out
      
      .heading
        text-transform: uppercase
        font-size: 12px
        font-weight: 700
        padding: 0px
        margin: 0px
      
      .text
        font-size: 15px
        padding: 0px
        margin: 0 0 40px 0
      
      .buttons
        display: table
        width: $one-half
        padding: 0px
        border-top: 1px solid $rules
        border-right: 1px solid $rules
        border-left: 1px solid $rules
        
        .row
          display: table-row
          height: 120px
          text-align: center
          padding: 10px 0
          
          .answer
            display: table-cell
            position: relative
            height: 100px
            text-align: center
            padding: 0
            
            .hover
              $line-height = 18px
              position: absolute
              bottom: $gutter-size - $line-height - 2px
              left: -1px
              width: 100px
              height: $gutter-size
              color: #AAAAAA
              font-family: 'Open Sans'
              font-weight: 600
              font-size: 11px
              line-height: $line-height
              margin: 0 auto
              padding: 0px 3px
            
            .icon, .icon a, .icon a img
              margin: 0 auto
              display: block
              position: relative
              width: 100px
              height: 100px
          
          .answer:hover
            .hover
              visibility: visible
