@media only screen and (max-device-width: 480px) 
  body
    #main
      .active
        #classify
          border: 1px solid red
          border: none
          padding: 0px
          border: 0px
          margin: 0px 0px
          width: 100%
          min-height: 400px
          background-color: black
          min-height:480px 

          .galaxy
            border: none
            display: block
            float: none
            width: 100%
            height: auto
            padding: 0px
            margin: 0px
            img
              padding: 0px 
              margin: 0px
              width: 100%
              height: auto
              float:none
          .tree
            display: block
            float : none
            width: 100%
            margin-top: 0px
            height: 100%
            .top
              display: none
              height: 100%
            .question
              color: white
              width: 100%
              backgorund-color: black
              display: block
              position: relative
              top:0px
              left: 0px
              p.heading
                display: none
              p
                width:95%
                min-height: 40px
                text-align: center
                margin: 0px auto 0px auto
                padding: 0px
              div.buttons
                border: none 
                width: 100%
                margin:0px
                padding: 0px
                
#classify
  clearfix()
  position: relative
  display: block
  border-top: 1px solid $dark-blue
  border-bottom: 1px solid $dark-blue
  margin-top: 100px

  
  .galaxy
    width: $one-half
    margin-right: $gutter-size
    float: left
    
    img
      cursor: pointer
      width: 20px
      height: 20px
      float: left
  
  .tree
    float: left
    width: $one-half
    margin-top: $gutter-size
    .top
      clearfix()

      h1
        float: left
        display: inline
        font-family: "Open Sans Condensed"
        font-weight: 300
        margin: 2px 0 0 0
        width: 100px
      
      .buttons
        clearfix()
        float: right
        display: inline-block
        width: $one-half - 100px
        margin: 15px 0
        padding: 0
        
        li
          display: inline-block
          text-align: center
          line-height: 30px
          list-style: none
          width: $column-size + 0.5 * $gutter-size
          margin-left: 10px
          
          a
            display: block
            width: 100%
            font-family: "Open Sans"
            font-size: 10px
            font-weight: 700
            background-color: $light-blue
            color: #000000
            -webkit-border-radius: 3px
            border-radius: 3px
            
            &.active
              background-color: $green
        
        li.left
          icons()
          position: relative
          float: left
          width: 30px
          height: 30px
          margin: 0 10px 0 10px
          
          .label
            position: absolute
            bottom: -25px
            left: -10px
            width: 50px
            text-align: center
            font-family: "Open Sans"
            font-size: 10px
            font-weight: 700
            color: $blue
        
        li.right
          float: right
    
    .question
      font-family: "Open Sans"
      position: absolute
      bottom: 0px
      right: 0px
      
      .heading
        text-transform: uppercase
        font-size: 12px
        font-weight: 700
        padding: 0px
        margin: 0px
      
      .text
        font-size: 15px
        padding: 0px
        margin: 0 0 40px 0
      
      .buttons
        display: table
        width: $one-half
        padding: 0px
        border-top: 1px solid $dark-blue
        border-right: 1px solid $dark-blue
        border-left: 1px solid $dark-blue
        
        .row
          display: table-row
          height: 120px
          text-align: center
          padding: 10px 0
          
          .answer, .checkbox
            display: table-cell
            position: relative
            height: 100px
            text-align: center
            padding: 0
            cursor: pointer
            
            .icon, .icon .hover
              margin: 0 auto
              display: block
              position: relative
              text-align: center
              
              .hover
                $line-height = 18px
                position: relative
                top: -($line-height / 2.0)
                width: 100px
                height: $gutter-size
                color: #AAAAAA
                font-family: 'Open Sans'
                font-weight: 600
                font-size: 11px
                line-height: $line-height
                margin: 0 auto
                padding: 0px 3px
              
              a
                workflow-icons()
                display: block
                position: relative
                margin: 0 auto
           
            &.active
              background-color: rgba(0, 60, 87, 1.0)
              
              .hover
                color: $light-gray

