$green = #C1EA00
$light-blue = #0079AE
$light-gray = #EEF3F5
$dark-gray = #01050F
$blue = #0079AE
$dark-blue = #003C57

icons()
  .icon.group
    background: url('images/group.png') no-repeat 0px 0px
  
  .icon.favorite
    background: url('images/icons.png') no-repeat -72px 0px
    
    &.active
      background: url('images/icons.png') no-repeat -72px -37px
  
  .icon.invert
    background: url('images/icons.png') no-repeat -108px 0px
    
    &.active
      background: url('images/icons.png') no-repeat -108px -37px
  
  .icon.sloan
    cursor: auto
    background: url('images/icons.png') no-repeat -36px 0px
    
    &.active
      cursor: auto
      background: url('images/icons.png') no-repeat -36px -37px
  
  .icon.candels
    cursor: auto
    background: url('images/icons.png') no-repeat 0px 0px
    
    &.active
      cursor: auto
      background: url('images/icons.png') no-repeat 0px -37px
  
  .icon.ukidss
    cursor: auto
    background: url('images/gz-icon-ukidss.png') no-repeat

clearfix()
  &:after
    content: ''
    display: block
    clear: both

standard-button()
  box-sizing(border-box)
  cursor: pointer
  background: #E8E8E8
  border: 1px solid rgba(#070E17, 0.33)
  border-radius: 0.33em
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), inset 0px 1px 0px #FFFFFF
  display: inline-block
  font-family: "Open Sans"
  font-size: inherit
  line-height: 1
  margin-left: 0.75em
  padding: 0.5em 2em
  text-decoration: none
  text-shadow: 0 0.125ex #FCFCFC
  vertical-align: middle
  
  &:hover
    border-color: rgba(#002736, 0.5)
  
  &.default
    background: #0095CC
    text-shadow: 0 0.125ex rgba(#002736, 0.5)
    
    &:hover
      border-color: rgba(#002736, 0.75)
  
  &.toggle.selected, &:active
    box-shadow: 0 0.125ex 0.25ex rgba(#070E17, 0.5) inset
  
  &:disabled
    box-shadow: none
    opacity: 0.5

workflow-icons()
  background: url('images/workflow.png') no-repeat top left
  width: 100px
  height: 100px
  
  &.blank { background: none }
  &.workflow-bulge_dominant { background-position: 0px 0px }
  &.workflow-bulge_obvious { background-position: 0px -100px }
  &.workflow-bulge_noticeable { background-position: 0px -200px }
  &.workflow-bulge_none { background-position: 0px -300px }
  &.workflow-clump_spiral { background-position: 0px -400px }
  &.workflow-clump_not-embedded { background-position: 0px -500px }
  &.workflow-clump_symmetrical { background-position: 0px -600px }
  &.workflow-clump_bright-center { background-position: 0px -700px }
  &.workflow-clump_one-brighter { background-position: 0px -800px }
  &.workflow-clump_cluster { background-position: 0px -900px }
  &.workflow-clump_chain { background-position: 0px -1000px }
  &.workflow-clump_line { background-position: 0px -1100px }
  &.workflow-clump_cant-tell { background-position: 0px -1200px }
  &.workflow-clump_4-plus { background-position: 0px -1300px }
  &.workflow-clump_4 { background-position: 0px -1400px }
  &.workflow-clump_3 { background-position: 0px -1500px }
  &.workflow-clump_2 { background-position: 0px -1600px }
  &.workflow-clump_1 { background-position: 0px -1700px }
  &.workflow-spiral_bar { background-position: 0px -1800px }
  &.workflow-smooth_bar { background-position: 0px -1900px }
  &.workflow-dustlane { background-position: 0px -2000px }
  &.workflow-irregular { background-position: 0px -2100px }
  &.workflow-feature { background-position: 0px -2200px }
  &.workflow-feature_clumpy { background-position: 0px -4800px }
  &.workflow-merger { background-position: 0px -2300px }
  &.workflow-merger_tidal { background-position: 0px -2400px }
  &.workflow-tidal-debris { background-position: 0px -2500px }
  &.workflow-other { background-position: 0px -2600px }
  &.workflow-lens { background-position: 0px -2700px }
  &.workflow-disturbed { background-position: 0px -2800px }
  &.workflow-no { background-position: 0px -2900px }
  &.workflow-yes { background-position: 0px -3000px }
  &.workflow-ring { background-position: 0px -3100px }
  &.workflow-star { background-position: 0px -3200px }
  &.workflow-edge_none { background-position: 0px -3300px }
  &.workflow-edge_boxy { background-position: 0px -3400px }
  &.workflow-edge_round { background-position: 0px -3500px }
  &.workflow-smooth_cigar { background-position: 0px -3600px }
  &.workflow-smooth_in-between { background-position: 0px -3700px }
  &.workflow-smooth_round { background-position: 0px -3800px }
  &.workflow-spiral_1 { background-position: 0px -3900px }
  &.workflow-spiral_2 { background-position: 0px -4000px }
  &.workflow-spiral_3 { background-position: 0px -4100px }
  &.workflow-spiral_4 { background-position: 0px -4200px }
  &.workflow-spiral_4-plus { background-position: 0px -4300px }
  &.workflow-spiral_cant-tell { background-position: 0px -4400px }
  &.workflow-spiral_loose { background-position: 0px -4500px }
  &.workflow-spiral_medium { background-position: 0px -4600px }
  &.workflow-spiral_tight { background-position: 0px -4700px }

example-images()
  background: url('images/examples.jpg') no-repeat
  width: 100px
  height: 100px
  
  &.blank { background: none }
  &.candels-0_a-0_0  { background-position:  -500px  -200px }
  &.candels-0_a-1_0  { background-position: -1000px  -500px }
  &.candels-0_a-1_1  { background-position:  -500px -1000px }
  &.candels-0_a-2_0  { background-position:  -700px  -400px }
  &.candels-0_a-2_1  { background-position:  -700px  -900px }
  &.candels-0_a-2_2  { background-position:  -300px  -800px }
  &.candels-1_a-0_0  { background-position:  -200px  -500px }
  &.candels-1_a-1_0  { background-position:  -100px -1200px }
  &.candels-1_a-2_0  { background-position:  -100px  -100px }
  &.candels-2_a-0_0  { background-position:  -300px  -600px }
  &.candels-2_a-1_0  { background-position:  -400px -1000px }
  &.candels-4_a-0_0  { background-position:  -100px -1000px }
  &.candels-4_a-0_1  { background-position: -1200px  -200px }
  &.candels-4_a-1_0  { background-position:  -500px  -700px }
  &.candels-4_a-2_0  { background-position:  -100px  -500px }
  &.candels-4_a-2_1  { background-position:  -700px -1300px }
  &.candels-4_a-3_0  { background-position: -1000px  -100px }
  &.candels-8_a-0_0  { background-position:  -200px -1100px }
  &.candels-8_a-1_0  { background-position: -1200px  -800px }
  &.candels-9_a-0_0  { background-position:  -300px  -100px }
  &.candels-9_a-1_0  { background-position:  -300px  -300px }
  &.candels-10_a-0_0 { background-position: -1100px  -900px }
  &.candels-10_a-1_0 { background-position:  -700px -1000px }
  &.candels-11_a-0_0 { background-position:  -900px  -800px }
  &.candels-11_a-0_1 { background-position:    -0px  -800px }
  &.candels-11_a-0_2 { background-position:  -800px  -300px }
  &.candels-11_a-0_3 { background-position:  -800px  -600px }
  &.candels-11_a-0_4 { background-position:  -200px  -700px }
  &.candels-11_a-0_5 { background-position:  -800px -1100px }
  &.candels-11_a-1_0 { background-position:  -300px -1000px }
  &.candels-12_a-0_0 { background-position:  -900px -1200px }
  &.candels-12_a-1_0 { background-position:  -100px  -700px }
  &.candels-13_a-0_0 { background-position:  -400px  -700px }
  &.candels-13_a-1_0 { background-position:    -0px -1200px }
  &.candels-13_a-2_0 { background-position:  -700px  -100px }
  &.candels-15_a-0_0 { background-position: -1200px -1000px }
  &.candels-15_a-1_0 { background-position:  -600px -1100px }
  &.candels-15_a-2_0 { background-position: -1200px -1200px }
  &.candels-16_a-0_0 { background-position: -1000px  -600px }
  &.candels-16_a-0_1 { background-position:  -200px -1200px }
  &.candels-16_a-0_2 { background-position:  -200px  -100px }
  &.candels-16_a-0_3 { background-position:  -400px  -400px }
  &.candels-16_a-1_0 { background-position:  -100px  -200px }
  &.candels-16_a-2_0 { background-position:  -900px -1100px }
  &.candels-16_a-2_1 { background-position: -1100px  -600px }
  &.candels-16_a-3_0 { background-position: -1200px    -0px }
  &.sloan-0_a-0_0    { background-position:  -100px  -900px }
  &.sloan-0_a-1_0    { background-position:  -200px  -600px }
  &.sloan-0_a-1_1    { background-position:    -0px  -400px }
  &.sloan-0_a-1_2    { background-position:  -600px  -400px }
  &.sloan-0_a-2_0    { background-position:    -0px  -600px }
  &.sloan-0_a-2_1    { background-position:  -400px  -200px }
  &.sloan-1_a-0_0    { background-position: -1100px  -100px }
  &.sloan-1_a-1_0    { background-position:  -800px -1200px }
  &.sloan-1_a-1_1    { background-position:  -700px  -200px }
  &.sloan-2_a-0_0    { background-position:  -200px  -800px }
  &.sloan-2_a-0_1    { background-position:  -900px -1000px }
  &.sloan-2_a-0_2    { background-position: -1200px  -100px }
  &.sloan-2_a-0_3    { background-position:  -700px  -500px }
  &.sloan-2_a-0_4    { background-position:  -600px  -800px }
  &.sloan-2_a-1_0    { background-position:  -100px -1100px }
  &.sloan-2_a-1_1    { background-position: -1100px    -0px }
  &.sloan-2_a-1_2    { background-position:  -100px  -800px }
  &.sloan-2_a-1_3    { background-position: -1200px  -600px }
  &.sloan-2_a-1_4    { background-position:  -100px  -400px }
  &.sloan-3_a-0_0    { background-position:  -600px  -700px }
  &.sloan-3_a-0_1    { background-position: -1000px -1200px }
  &.sloan-3_a-1_0    { background-position:  -300px  -500px }
  &.sloan-6_x-0_0    { background-position:  -700px  -600px }
  &.sloan-6_x-0_1    { background-position:  -500px  -400px }
  &.sloan-6_x-1_0    { background-position:  -200px  -300px }
  &.sloan-6_x-2_0    { background-position:  -800px  -700px }
  &.sloan-6_x-2_1    { background-position:    -0px  -700px }
  &.sloan-6_x-2_2    { background-position:  -500px  -800px }
  &.sloan-6_x-3_0    { background-position:  -300px -1200px }
  &.sloan-6_x-3_1    { background-position:  -600px  -900px }
  &.sloan-6_x-4_0    { background-position:    -0px  -200px }
  &.sloan-6_x-4_1    { background-position: -1000px  -700px }
  &.sloan-6_x-4_2    { background-position:  -800px -1000px }
  &.sloan-6_x-5_0    { background-position:  -800px  -900px }
  &.sloan-6_x-5_1    { background-position: -1100px  -700px }
  &.sloan-6_x-5_2    { background-position:  -700px  -300px }
  &.sloan-6_x-5_3    { background-position:  -300px  -700px }
  &.sloan-6_x-5_4    { background-position:  -200px  -200px }
  &.sloan-6_x-5_5    { background-position:  -700px    -0px }
  &.sloan-6_x-6_0    { background-position: -1100px  -300px }
  &.sloan-6_x-6_1    { background-position:  -400px  -300px }
  &.sloan-7_a-0_0    { background-position:  -700px  -800px }
  &.sloan-7_a-1_0    { background-position: -1100px -1200px }
  &.sloan-7_a-2_0    { background-position:  -600px -1200px }
  &.sloan-8_a-0_0    { background-position: -1200px -1100px }
  &.sloan-8_a-1_0    { background-position:  -900px  -900px }
  &.sloan-8_a-2_0    { background-position:  -800px  -400px }
  &.sloan-9_a-0_0    { background-position: -1000px -1000px }
  &.sloan-9_a-1_0    { background-position:  -300px -1100px }
  &.sloan-9_a-2_0    { background-position:  -300px  -400px }
  &.sloan-10_a-0_0   { background-position: -1000px  -200px }
  &.sloan-10_a-0_1   { background-position:  -700px -1200px }
  &.sloan-10_a-1_0   { background-position:  -900px    -0px }
  &.sloan-10_a-1_1   { background-position:  -500px  -500px }
  &.sloan-10_a-1_2   { background-position: -1000px    -0px }
  &.sloan-10_a-1_3   { background-position:    -0px  -500px }
  &.sloan-10_a-2_0   { background-position:  -500px -1300px }
  &.sloan-10_a-2_1   { background-position:  -600px    -0px }
  &.sloan-10_a-2_2   { background-position:  -300px    -0px }
  &.sloan-10_a-3_0   { background-position:  -600px -1300px }
  &.sloan-10_a-3_1   { background-position:  -900px  -300px }
  &.sloan-10_a-4_0   { background-position: -1000px  -400px }
  &.sloan-10_a-4_1   { background-position: -1200px  -300px }
  &.sloan-10_a-5_0   { background-position: -1200px  -400px }
  &.sloan-10_a-5_1   { background-position:  -800px    -0px }
  &.sloan-10_a-5_2   { background-position: -1200px  -700px }
  &.ukidss-0_a-0_0   { background-position:  -400px -1200px }
  &.ukidss-0_a-0_1   { background-position:  -200px -1000px }
  &.ukidss-0_a-0_2   { background-position:  -100px  -600px }
  &.ukidss-0_a-1_0   { background-position:  -200px  -400px }
  &.ukidss-0_a-1_1   { background-position:  -500px  -300px }
  &.ukidss-0_a-1_2   { background-position:    -0px  -300px }
  &.ukidss-0_a-1_3   { background-position: -1100px  -500px }
  &.ukidss-0_a-2_0   { background-position:  -600px  -100px }
  &.ukidss-1_a-0_0   { background-position: -1200px  -900px }
  &.ukidss-1_a-0_1   { background-position:  -500px  -900px }
  &.ukidss-1_a-0_2   { background-position:  -400px    -0px }
  &.ukidss-1_a-1_0   { background-position:  -700px  -700px }
  &.ukidss-1_a-1_1   { background-position:  -500px  -600px }
  &.ukidss-1_a-1_2   { background-position:  -300px  -200px }
  &.ukidss-2_a-0_0   { background-position:  -600px  -600px }
  &.ukidss-2_a-0_1   { background-position: -1000px  -900px }
  &.ukidss-2_a-0_2   { background-position:  -600px  -200px }
  &.ukidss-2_a-1_0   { background-position:  -600px -1000px }
  &.ukidss-2_a-1_1   { background-position:  -300px  -900px }
  &.ukidss-2_a-1_2   { background-position:  -100px    -0px }
  &.ukidss-3_a-0_0   { background-position: -1000px -1100px }
  &.ukidss-3_a-0_1   { background-position:  -900px  -700px }
  &.ukidss-3_a-0_2   { background-position: -1100px  -800px }
  &.ukidss-3_a-1_0   { background-position:    -0px  -900px }
  &.ukidss-3_a-1_2   { background-position:  -400px  -500px }
  &.ukidss-4_a-0_0   { background-position:  -800px -1300px }
  &.ukidss-4_a-1_0   { background-position:  -900px  -100px }
  &.ukidss-4_a-1_1   { background-position: -1100px -1000px }
  &.ukidss-4_a-2_0   { background-position:  -800px  -200px }
  &.ukidss-4_a-2_1   { background-position:    -0px -1000px }
  &.ukidss-4_a-3_0   { background-position:    -0px  -100px }
  &.ukidss-5_a-0_0   { background-position:  -800px  -500px }
  &.ukidss-5_a-0_1   { background-position: -1100px -1100px }
  &.ukidss-5_a-1_0   { background-position:  -400px  -600px }
  &.ukidss-5_a-1_1   { background-position:  -500px -1100px }
  &.ukidss-5_a-1_2   { background-position:  -300px -1300px }
  &.ukidss-6_x-0_0   { background-position:  -900px  -500px }
  &.ukidss-6_x-3_0   { background-position:  -400px  -900px }
  &.ukidss-6_x-4_0   { background-position:  -500px -1200px }
  &.ukidss-6_x-5_0   { background-position:  -200px -1300px }
  &.ukidss-6_x-5_1   { background-position:  -400px -1300px }
  &.ukidss-6_x-6_0   { background-position:    -0px    -0px }
  &.ukidss-6_x-6_1   { background-position:  -100px -1300px }
  &.ukidss-7_a-0_0   { background-position: -1000px  -800px }
  &.ukidss-7_a-0_1   { background-position:  -800px  -800px }
  &.ukidss-7_a-0_2   { background-position:  -700px -1100px }
  &.ukidss-7_a-1_0   { background-position:  -200px    -0px }
  &.ukidss-7_a-1_1   { background-position: -1000px  -300px }
  &.ukidss-7_a-1_2   { background-position:  -400px -1100px }
  &.ukidss-7_a-2_0   { background-position:  -900px  -400px }
  &.ukidss-7_a-2_1   { background-position:  -100px  -300px }
  &.ukidss-7_a-2_2   { background-position:  -200px  -900px }
  &.ukidss-8_a-0_0   { background-position:  -400px  -800px }
  &.ukidss-8_a-0_1   { background-position: -1100px  -200px }
  &.ukidss-8_a-1_0   { background-position:  -800px  -100px }
  &.ukidss-8_a-2_0   { background-position:  -900px  -600px }
  &.ukidss-8_a-2_1   { background-position:    -0px -1100px }
  &.ukidss-9_a-0_0   { background-position: -1100px  -400px }
  &.ukidss-9_a-1_0   { background-position: -1200px  -500px }
  &.ukidss-9_a-2_0   { background-position:  -600px  -300px }
  &.ukidss-10_a-0_0  { background-position:  -600px  -500px }
  &.ukidss-10_a-1_0  { background-position:  -900px  -200px }
  &.ukidss-10_a-2_0  { background-position:  -400px  -100px }
  &.ukidss-10_a-3_0  { background-position:  -500px    -0px }
  &.ukidss-10_a-4_0  { background-position:  -500px  -100px }
  &.ukidss-10_a-5_0  { background-position:    -0px -1300px }
