$green = #C1EA00
$light-blue = #0079AE
$light-gray = #EEF3F5
$dark-gray = #01050F
$blue = #0079AE
$dark-blue = #003C57

clearfix()
  &:after
    content: ''
    display: block
    clear: both

standard-button()
  box-sizing(border-box)
  cursor: pointer
  background: #E8E8E8
  border: 1px solid rgba(#070E17, 0.33)
  border-radius: 0.33em
  box-shadow: 0 0.67em 0.67em rgba(#FCFCFC, 0.33) inset, 0 -0.5em 0.5em rgba(#070E17, 0.125) inset, 0 0.125ex 0.25ex rgba(#070E17, 0.33)
  display: inline-block
  font-family: "Open Sans"
  font-size: inherit
  line-height: 1
  margin-left: 0.75em
  padding: 0.5em 2em
  text-decoration: none
  text-shadow: 0 0.125ex #FCFCFC
  vertical-align: middle
  
  &:hover
    border-color: rgba(#002736, 0.5)
  
  &.default
    background: #0095CC
    text-shadow: 0 0.125ex rgba(#002736, 0.5)
    
    &:hover
      border-color: rgba(#002736, 0.75)
  
  &.toggle.selected, &:active
    box-shadow: 0 0.125ex 0.25ex rgba(#070E17, 0.5) inset
  
  &:disabled
    box-shadow: none
    opacity: 0.5

.headline
  font-family: "Open Sans"
  font-weight: 700
  font-size: 36px
  color: #efefef
  width: 100%
  text-align: center
  margin-top: 85px
  padding: 0px

.call-to-action
  font-family: "Open Sans"
  font-weight: 400
  font-size: 14px
  color: #efefef
  padding: 0px
  margin: 0px
  
  .button
    height: 20px
    width: 130px
    background: #c1ea00
    font-family: "Open Sans"
    font-weight: 800
    font-size: 10px
    padding: 3px 5px
    color: #000000
    text-transform: uppercase
    -webkit-border-radius: 2px
    border-radius: 2px
    text-decoration: none
