#examine
  h2
    color: $blue
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 24px
    margin: 0
  
  .subject-info
    display: table
    margin-top: 30px
    font-family: "Open Sans"
    font-size: 12px
    font-weight: 400
    
    .row
      display: table-row
      
      .blank
        display: table-cell
        height: 20px
      
      .key
        display: table-cell
        padding-right: 10px
        text-align: right
        font-weight: 700
      
      .value
        display: table-cell
        padding-left: 10px
        text-align: left
  
  #plots
    .histogram
      position: absolute
      z-index: 1
    
    .markers
      position: absolute
      z-index: 2
