@media only screen and (max-device-width: 480px) 
  body
    #main
      div.active
        #examine
          width: 100%
          .content
            width: 100%
            .content-block
              width: 100%
              div.left
                width: 100%
                padding: 0px
                display: block
                text-align:center
                div.subject
                  text-align: center
                  img
                    width: 300px
                   
                  
              .right
                
                display: block
                padding: 0px 
                margin: 0px
                width: 100%
                .subject-info
                  width: 100%
                  height: 90px 
                  overflow-y: hidden
                  .row 
                    height: 10px
                    &.blank
                      display: none
                    .key, .value
                      font-size: 9px
                      height: 10px
                      line-height: 16px 


                .heading
                  display:none
                a
                  display: none


#examine
  width: 100%
  text-align: center
  padding: 0px 
  margin: 0px
  h1 
    padding: 0px 
    margin: 0px
    color: purple
  h2
    color: $blue
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 24px
    margin: 0px
    padding: 0px
  
  .subject-info
    display: table
    margin: 0px
    padding: 0px
    margin-top: 5px
    font-family: "Open Sans"
    font-size: 12px
    font-weight: 400
    
    .row
      display: table-row
      
      .blank
        display: table-cell
        height: 20px
      
      .key
        display: table-cell
        
        font-weight: 700
      
      .value
        display: table-cell
      
  .subject
    height: auto
    
   
  
  #plots
    .histogram
      position: absolute
      z-index: 1
    
    .markers
      position: absolute
      z-index: 2
