#examine
  .subject
    .name
      position absolute
      z-index 2
    .webgl-fits
      position absolute

  .subject
    .name
      border 1px solid black

  #plots
    .histogram
      position absolute
      z-index: 1
  
    .markers
      position absolute
      z-index: 2