$column-size = 65px
$gutter-size = 20px

$one-sixth = ($column-size * 2) + $gutter-size
$one-quarter = ($column-size * 3) + ($gutter-size * 2)
$one-third = ($column-size * 4) + ($gutter-size * 3)
$one-half = ($column-size * 6) + ($gutter-size * 5)
$two-thirds = ($one-third * 2) + $gutter-size
$three-quarters = ($one-quarter * 3) + ($gutter-size * 2)
$full-width = ($column-size * 12) + ($gutter-size * 11)
