.dialog
  .help
    .example-thumbnail
      display: block
      background: url('images/examples.png') no-repeat
      width: 100px
      height: 100px
      
      &.candels-0-a0-0 { background-position: -200px -600px }
      &.candels-0-a1-0 { background-position: -300px -700px }
      &.candels-0-a1-1 { background-position: -300px -500px }
      &.candels-0-a2-0 { background-position: -700px -200px }
      &.candels-0-a2-1 { background-position: -400px -600px }
      &.candels-0-a2-2 { background-position: -0px -800px }
      &.candels-1-a0-0 { background-position: -600px -700px }
      &.candels-1-a1-0 { background-position: -200px -300px }
      &.candels-1-a2-0 { background-position: -600px -100px }
      &.candels-2-a0-0 { background-position: -700px -700px }
      &.candels-2-a1-0 { background-position: -500px -900px }
      &.candels-4-a0-0 { background-position: -500px -500px }
      &.candels-4-a0-1 { background-position: -200px -700px }
      &.candels-4-a1-0 { background-position: -700px -600px }
      &.candels-4-a2-0 { background-position: -500px -0px }
      &.candels-4-a2-1 { background-position: -400px -800px }
      &.candels-4-a3-0 { background-position: -100px -0px }
      &.candels-8-a0-0 { background-position: -0px -500px }
      &.candels-8-a1-0 { background-position: -0px -400px }
      &.candels-9-a0-0 { background-position: -100px -300px }
      &.candels-9-a1-0 { background-position: -500px -200px }
      &.candels-10-a0-0 { background-position: -400px -400px }
      &.candels-10-a1-0 { background-position: -800px -600px }
      &.candels-11-a0-0 { background-position: -100px -900px }
      &.candels-11-a0-1 { background-position: -600px -600px }
      &.candels-11-a0-2 { background-position: -400px -900px }
      &.candels-11-a0-3 { background-position: -300px -200px }
      &.candels-11-a0-4 { background-position: -600px -400px }
      &.candels-11-a0-5 { background-position: -0px -700px }
      &.candels-11-a1-0 { background-position: -500px -700px }
      &.candels-12-a0-0 { background-position: -300px -800px }
      &.candels-12-a1-0 { background-position: -400px -200px }
      &.candels-13-a0-0 { background-position: -800px -200px }
      &.candels-13-a1-0 { background-position: -200px -100px }
      &.candels-13-a2-0 { background-position: -0px -300px }
      &.candels-15-a0-0 { background-position: -700px -800px }
      &.candels-15-a1-0 { background-position: -600px -500px }
      &.candels-15-a2-0 { background-position: -200px -0px }
      &.candels-16-a0-0 { background-position: -600px -300px }
      &.candels-16-a0-1 { background-position: -700px -900px }
      &.candels-16-a0-2 { background-position: -500px -800px }
      &.candels-16-a0-3 { background-position: -800px -700px }
      &.candels-16-a1-0 { background-position: -800px -500px }
      &.candels-16-a2-0 { background-position: -100px -200px }
      &.candels-16-a2-1 { background-position: -300px -300px }
      &.candels-16-a3-0 { background-position: -600px -0px }
      &.sloan-0-a0-0 { background-position: -200px -500px }
      &.sloan-0-a1-0 { background-position: -100px -100px }
      &.sloan-0-a1-1 { background-position: -300px -0px }
      &.sloan-0-a1-2 { background-position: -800px -0px }
      &.sloan-0-a2-0 { background-position: -200px -400px }
      &.sloan-0-a2-1 { background-position: -400px -700px }
      &.sloan-1-a0-0 { background-position: -700px -300px }
      &.sloan-1-a1-0 { background-position: -700px -0px }
      &.sloan-1-a1-1 { background-position: -800px -300px }
      &.sloan-2-a0-0 { background-position: -100px -800px }
      &.sloan-2-a0-1 { background-position: -400px -100px }
      &.sloan-2-a1-0 { background-position: -400px -500px }
      &.sloan-2-a1-1 { background-position: -100px -700px }
      &.sloan-3-a0-0 { background-position: -300px -600px }
      &.sloan-3-a0-1 { background-position: -500px -300px }
      &.sloan-3-a1-0 { background-position: -700px -100px }
      &.sloan-6-a0-0 { background-position: -800px -100px }
      &.sloan-6-a0-1 { background-position: -600px -900px }
      &.sloan-6-a1-0 { background-position: -500px -100px }
      &.sloan-6-a2-0 { background-position: -300px -100px }
      &.sloan-6-a2-1 { background-position: -500px -400px }
      &.sloan-6-a2-2 { background-position: -800px -800px }
      &.sloan-6-a3-0 { background-position: -200px -800px }
      &.sloan-6-a3-1 { background-position: -0px -0px }
      &.sloan-6-a4-0 { background-position: -400px -300px }
      &.sloan-6-a4-1 { background-position: -100px -600px }
      &.sloan-6-a4-2 { background-position: -300px -400px }
      &.sloan-6-a5-0 { background-position: -0px -200px }
      &.sloan-6-a5-1 { background-position: -200px -200px }
      &.sloan-6-a5-2 { background-position: -500px -600px }
      &.sloan-6-a5-3 { background-position: -600px -200px }
      &.sloan-6-a5-4 { background-position: -300px -900px }
      &.sloan-6-a5-5 { background-position: -200px -900px }
      &.sloan-6-a6-0 { background-position: -400px -0px }
      &.sloan-6-a6-1 { background-position: -700px -500px }
      &.sloan-7-a0-0 { background-position: -600px -800px }
      &.sloan-7-a1-0 { background-position: -800px -400px }
      &.sloan-7-a2-0 { background-position: -0px -100px }
      &.sloan-8-a0-0 { background-position: -100px -500px }
      &.sloan-8-a1-0 { background-position: -0px -1000px }
      &.sloan-8-a2-0 { background-position: -800px -900px }
      &.sloan-9-a0-0 { background-position: -0px -600px }
      &.sloan-9-a1-0 { background-position: -700px -400px }
      &.sloan-9-a2-0 { background-position: -0px -900px }
      &.sloan-10-a5-0 { background-position: -100px -400px }
