#home
  .headline
    font-family: "Open Sans"
    font-weight: 700
    font-size: 36px
    color: #efefef
    width: 100%
    text-align: center
    margin-top: 85px
    padding: 0px
  
  .call-to-action
    font-family: "Open Sans"
    font-weight: 300
    font-size: 14px
    color: #efefef
    padding: 0px
    margin: 0px
    
    .button
      height: 20px
      width: 130px
      background: #c1ea00
      font-family: "Open Sans"
      font-weight: 800
      font-size: 10px
      padding: 3px 5px
      color: #000000
      text-transform: uppercase
      -webkit-border-radius: 3px
      border-radius: 3px
  
  .slider
    display: block
    border-top: 1px solid $rules
    border-bottom: 1px solid $rules
    margin-top: 80px
    padding: $gutter-size 0px
    
    .slide-element
      min-height: 240px
      
      &.galaxy-zoo
        background: url("images/gz_slider1.jpg") #000 no-repeat
      
      .left
        width: $one-quarter
        
        .header-blue
          font-family: "Open Sans"
          font-weight: 800
          font-size: 12px
          color: #0079ae
          text-transform: uppercase
          padding: 0
          margin: 0
        
        .header-title
          font-family: "Open Sans Condensed"
          font-weight: 700
          font-size: 55px
          color: #efefef
          text-transform: uppercase
          padding: 0px
          margin: 0px
          margin-left: -4px
          line-height: 55px
        
        .description
          font-family: "Open Sans"
          font-weight: 400
          font-size: 11px
          line-height: 18px
          color: #efefef
          width: 235px
        
        .blue-button
          height: 20px
          width: 95px
          background: #0079ae
          font-family: "Open Sans"
          font-weight: 800
          font-size: 10px
          color: #000000
          text-transform: uppercase
          text-decoration: none
          padding: 3px 10px
          -webkit-border-radius: 3px
          border-radius: 3px
  
  .content-block
    display: block
    width: 100%
    clear: both
    
    .left, .right
      .heading
        font-family: "Open Sans Condensed"
        font-weight: 300
        font-size: 32px
        line-height: 55px
        color: #efefef
        border-bottom: 1px solid $rules
        margin-bottom: 10px
      
      .description
        font-family: "Open Sans"
        font-weight: 300
        font-size: 12px
        line-height: 20px
        color: #efefef
        float: left
        
        a
          text-transform: uppercase
          text-decoration: none
          font-weight: bold
        
        img
          border: 2px solid #efefef
          margin-left: $gutter-size
          
          &.first
            margin-left: 0px
      
      ul
        list-style: none
        font-family: "Open Sans"
        font-weight: 300
        font-size: 12px
        line-height: 20px
        color: #efefef
        float: left
        padding: 0px
        margin: 0px
        width: $one-half
        
        li
          list-style: none
          display: block
          
          a
            text-align: right
            float: right
            text-transform: uppercase
            font-weight: 600
            text-decoration: none
    
    .left
      width: $one-half
      float: left
    
    .right
      width: $one-half
      float: left
      margin-left: $gutter-size
