@import "grid"
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Open+Sans+Condensed:700,300)")

// column $column-size
// gutters $gutter-size

$green =  #c1ea00
$light-blue = #0079ae
$rules = #0079ae

a
  img
    border none
    
body
  width 1000px
  background url("images/gz_headerimage.jpg") #000 no-repeat
  color #efefef
  margin 0px auto
  a
    color #0079ae
    
    &:hover
      color #0079ae

/* Navigation */

nav
  height 80px
  ul
    padding 0
    margin 0
    li
      font-family "Open Sans"
      font-weight 700
      font-size 12px
      color #efefef
      text-transform uppercase
      width $one-sixth
      line-height 76px
      vertical-align middle
      display inline-block
      float left
      text-align center
      margin-right $gutter-size
      
      a
        text-decoration none
        color #efefef
      
        &:hover
          text-decoration underline
          color #efefef

      &.last
        margin-right 0

      &.logo
        min-width $one-third
        background-position center
        height 76px

#headline
  font-family "Open Sans"
  font-weight 700
  font-size 36px
  color #efefef
  width 100%
  text-align center
  margin-top 85px
  padding 0px
  
.dek
  font-family "Open Sans"
  font-weight 300
  font-size 14px
  color #efefef
  padding 0px
  margin 0px
  
  .button
    height 20px
    width 130px
    background #c1ea00
    font-family "Open Sans"
    font-weight 800
    font-size 10px
    padding 3px 5px
    color #000000
    text-transform uppercase
    -webkit-border-radius 3px
        
#subnav
  font-family "Open Sans"
  font-weight 700
  font-size 11px
  color #efefef

/* Index slider and contents */

#slider
  display block
  border-top 1px solid $rules
  border-bottom 1px solid $rules
  margin-top 80px
  padding $gutter-size 0px
  
  .slide-element
    min-height 240px
    &.galaxy-zoo
      background url("images/gz_slider1.jpg") #000 no-repeat
      
    .left
      width $one-quarter
      
      .header-blue
        font-family "Open Sans"
        font-weight 800
        font-size 12px
        color #0079ae
        text-transform: uppercase
        padding 0
        margin 0
        
      .header-title
        font-family "Open Sans Condensed"
        font-weight 700
        font-size 55px
        color #efefef
        text-transform uppercase
        padding 0px
        margin 0px
        // FIXME - why do I have to have this negative margin
        margin-left -4px
        line-height 55px
  
      .description
        font-family "Open Sans"
        font-weight 400
        font-size 11px
        line-height 18px
        color #efefef
        width 235px
    
      .blue-button
        height 20px
        width 95px
        background #0079ae
        font-family "Open Sans"
        font-weight 800
        font-size 10px
        color #000000
        text-transform uppercase
        text-decoration none
        padding 3px 10px
        -webkit-border-radius 3px

/* Index page content column styles */

.content-block
  display block
  width 100%
  clear both
  .left, .right
    .heading
      font-family "Open Sans Condensed"
      font-weight 300
      font-size 32px
      line-height 55px
      color #efefef
      border-bottom 1px solid $rules
      margin-bottom 10px
      
    .description
      font-family "Open Sans"
      font-weight 300
      font-size 12px
      line-height 20px
      color #efefef
      float left
      a
        text-transform uppercase
        text-decoration none
        font-weight bold
      img
        border 2px solid #efefef
        margin-left $gutter-size

        &.first
          margin-left 0px
    ul
      list-style none
      font-family "Open Sans"
      font-weight 300
      font-size 12px
      line-height 20px
      color #efefef
      float left
      padding 0px
      margin 0px
      width $one-half
      
      li
        list-style none
        display block
        a
          text-align right
          float right
          text-transform uppercase
          font-weight 600
          text-decoration none
        
  .left
    width $one-half
    float left
      
  .right
    width $one-half
    float left
    margin-left $gutter-size
    
/* Classify page styles */
#classify
  position relative
  display block
  border-top 1px solid $rules
  border-bottom 1px solid $rules
  margin-top 100px
  padding $gutter-size 0px 0px 0px

  .galaxy
    width $one-half
    margin-bottom $gutter-size
    margin-right $gutter-size
    float left
    
    img
      float left
    
  .tree
    float left
    width $one-half
    margin-top $gutter-size
    
    .top
      h1
        display inline
        font-family "Open Sans Condensed"

      ul.help
        float right
        li
          font-family "Open Sans"
          font-size 10px
          font-weight 700
          text-align center
          line-height 20px
          list-style none
          min-width $column-size + 0.5 * $gutter-size
          float left
          background $light-blue
          margin-left 10px
          color black
          -webkit-border-radius 3px
          
      
    .question
      font-family "Open Sans"
      margin-top 170px
      
      .question-heading
        text-transform uppercase
        font-size 12px
        font-weight 700
        padding 0px
        margin 0px
      .question-text
        font-size 15px
        padding 0px
        margin 0px        
    
#buttons
  position absolute
  width $one-half
  bottom 0px
  right 0px
  padding 10px 0px
  border-top 1px solid $rules
  border-right 1px solid $rules
  border-left 1px solid $rules
  
  #hover
    font-family "Open Sans"
    font-size 10px
    line-height 18px
    padding 0px 3px
    width $one-sixth
    color #efefef
    height $gutter-size
    text-transform uppercase
    background $rules
    position absolute
    left -1px
    top - $gutter-size
    text-align center
  