@import 'common'
@import 'grid'
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Open+Sans+Condensed:700,300)')
@import 'nav'
@import 'home'
@import 'classify'

.stack > *:not(.active)
  display: none

a
  cursor: pointer
  
  img
    border: none
    
body
  width: 1000px
  background: url('images/gz_headerimage.jpg') #000 no-repeat
  color: #efefef
  margin: 0px auto
  a
    color: #0079ae
    
    &:hover
      color: #0079ae
