// Interactive
$partridge = 65px
$gutter = 20px
$condensed = "Open Sans Condensed" 
$normal = "Open Sans" 
$background = #E6EDF0
$button-background = #f4f4f4
$hover-button-background = #dfdfdf
@font-face { font-family: open-dyslexic; src: url('OpenDyslexic-Regular.otf'); }
@font-face { font-family: open-dyslexic-italic; src: url('OpenDyslexic-Italic.otf'); }
$dx-normal = open-dyslexic
$dx-condensed = open-dyslexic-italic
$dx-background = #9DD2ED
$dx-button-background = #E9F768
$dx-hover-button-background = #F2864B

button-style($alignment)
  display: inline
  float: $alignment
  height: 30px
  text-align: right
  a, li
    display: inline-block
    width: 98px
    margin: 0 0 0 9px
    padding: 3px 0
    background $button-background
    border: 1px solid #b2b2b2
    border-radius 3px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255,255,255,1)
    color: black
    font-size: 12px
    text-align: center
    text-shadow: 0 1px 0 #fcfcfc
    &.dx
      background: $dx-button-background
    &:hover
      color: $blue
      background: $hover-button-background
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 1px #d3d3d3
      &.dx
        background: $dx-hover-button-background    

[data-page="interactive"]
  .container
    width: 830px
    margin: 0 auto
  h1, h2
    font-family: $condensed
    font-weight: 400
    &.dx
      font-family: $dx-condensed
  h1
    font-size: 48px

  h2
    &.section-header
      position: relative
      padding: 3px 0
      border-bottom: 1px solid #d6d6d6
      color: $blue
      font-family: $normal
      font-size: 14px
      font-weight: 700
      &:after
        position: absolute
        bottom: -2px
        left: 0
        width: 100%
        height: 1px
        border-bottom: 1px solid #f9f9f9
        content: ''


  #heading_text
    height: auto

  #link_buttons 
    display: inline
    float: right
    width: 300px
    height: 30px
    margin-top: 20px
    text-align: right
    a
      display: inline-block
      width: 98px
      margin: 0 0 0 9px
      padding: 3px 0
      background $button-background
      border: 1px solid #b2b2b2
      border-radius 3px
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255,255,255,1)
      color: black
      font-size: 12px
      text-align: center
      text-shadow: 0 1px 0 #fcfcfc
      &.dx
        background: $dx-button-background
      &:hover
        color: $blue
        background: $hover-button-background
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 1px #d3d3d3
      &.dx
        background: $dx-hover-button-background    


p
 font-family: $normal 
 &.dx
  font-family: $dx-normal

#navigator-container
  width: 1000px 
  background: $background
  font-family: $normal
  font-size: 12px
  &.dx
   background: $dx-background  

#navigator
  height: 620px
  padding-top: 30px
  margin: 20px 0px 20px 0px
  color: black
   font-family: $dx-normal

#div-dx-change
  margin: 220px $partridge+$gutter 20px $partridge+$gutter


#top_bar
  width: 10*$partridge + 9*$gutter
  height: 70px
  margin: 0 0 15px
  padding: 0px

  a
    text-decoration: none
    color: black

  h1
    margin: 0px
    padding: 0px
    display: inline
    width: 700px
  p
    margin-top: 20px
  h2
    margin-top: 70px
    color: $blue
  
#heading_text
  width: 10*$partridge + 9*$gutter
  height: 90px
  border-bottom: 1px solid #C0C0C0
  padding: 0px

.navigator_home h1
  color: black

.image_div
  display: inline
  position: relative
  h2
    display: inline
    position: absolute
    text-align: center
    width: 3*$partridge
    z-index: 100
    margin: 20px 0px 20px 5px
    padding: 0px
    color: white

.image_div p
  display: inline
  position: absolute
  text-align: center
  width: 3*$partridge
  color: black
  z-index: 100
  margin: 135px 0px 0px 5px
  padding: 0px
  
.image_div img
  position: relative
  width: 3*$partridge + 5px
  background: white
  border-radius: 5px
  -moz-border-radius: 5px
  border: 3px solid white
.image_link:hover img
  border: 3px solid $blue


// Welcome Page
#welcome
  margin: 30px -5px 0

// My Galaxies  
#my_galaxies
  margin-top: 30px
  
// Choose Investigation
#choose_investigation
  margin-top: 30px
  
// Make Graphs

#graph_div
  margin-top: 20px

#graph_options
  display: inline
  float: left 
  width: 3*$partridge + 2*$gutter  
  height: 200px
  margin-right: $partridge

#graph_form
  .controls
    margin: 0
    padding: 0

    label
      display: block
      padding: 3px 0
      font-size: 13px
      font-weight: 700

    li
      margin: 0 0 7px
      list-style: none
      &:before,&:after
        content: ''
        display: table
      &:after
        clear: both

      &.buttons
        ul
          margin: 0
          padding: 0
          button-style(left)
      &.separator
        height: 0
        margin: 7px 0
        border-top: 1px solid #d6d6d6
        border-bottom: 1px solid #f9f9f9

    select
      position: relative
      -webkit-appearance: none
      -webkit-border-radius: 0px
      width: 3 * $partridge + $gutter
      height: 26px
      padding: 3px 10px
      background: url("images/gz-select-arrow.png") no-repeat 95% center
      border: 1px solid #b2b2b2
      border-radius 3px
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255,255,255,1)
      font-family: $normal
      font-size: 12px

#graph
  display: inline
  float: left
  width: 6*$partridge + 7*$gutter
  height: 400px

#graph svg  
  display: inline
  width: 6*$partridge + 7*$gutter
  height: 330px
  border: 1px solid #C0C0C0
  background: $light-gray