#navigation
  margin-top: 40px
  height: 80px
  width: 100%
  
  ul
    padding: 0
    margin: 0
    
    li
      font-family: "Open Sans"
      font-weight: 700
      font-size: 12px
      color: #efefef
      text-transform: uppercase
      width: $one-eighth
      line-height: 76px
      vertical-align: middle
      display: inline-block
      float: left
      text-align: center
      margin-right: $gutter-size
      
      a
        text-decoration: none
        color: #efefef
      
      
      &.last
        margin-right: 0
      
      &.logo
        min-width: $one-quarter
        background-position: center
        height: 76px

@media only screen and (max-device-width: 480px) 
  #navigation
    height: 50px
    width: 100%
    margin: 0px
    padding: 0px
    background-color: #EFEFEF
    .logo    
      display:none
    ul
      border-box()
      margin-left: auto
      margin-right: auto
      padding: 10px 2px 10px 10px
      height: 40px
      text-align: center
      li
        width: 80px
        margin: 0px
        padding: 0px
        height: 30px
        background-color: #E3E3E3
        color: #000E14
        line-height: 30px
        font-size: 12px
        float:left
        font-weight: 400
        border-box()
        border: 1px solid  #C3C3C3
        &.nav_home 
          width: 40px
          margin-right: 10px
          img 
            margin-top: 5px
            margin-left: -2px
        &.nav_first
          border-top-left-radius: 2px
          border-bottom-left-radius: 2px
        &:last-child
          border-top-right-radius: 2px
          border-bottom-right-radius: 2px
        a
          text-transform: none
          margin:0px
          padding: 0px
          font-size: 12px
          color: #000E14

        &.active
          background-color  : #CBCBCB

      .nav_papers, .nav_story, .nav_talk
        display: none
