#navigation
  width: 1000px
  margin: 0px auto
  margin-top: 40px
  height: 80px
  padding: 45px 0 0 0

  ul
    padding: 0
    margin: 0
    
    li
      font-family: "Open Sans"
      font-weight: 700
      font-size: 12px
      color: #efefef
      text-transform: uppercase
      width: $one-eighth
      line-height: 76px
      vertical-align: middle
      display: inline-block
      float: left
      text-align: center
      margin-right: $gutter-size
      position: relative
      
      a
        text-decoration: none
        color: #efefef
        
        &:hover
          text-decoration: underline
          color: #efefef
      
      .menu
        display: none
        background: rgba(#fff,0.2)
        border-radius: 3px
        left: 0
        padding: 5px 0
        position: absolute
        top: 50px;
        
        li
          line-height: 2
          margin-right: 0
          
          a
            display: block
      
      &:hover .menu
        display: block
      

      &.last
        margin-right: 0
      
      &.logo
        min-width: $one-quarter
        background-position: center
        height: 76px
        
