#navigation
  margin-top: 40px
  height: 80px

  ul
    padding: 0
    margin: 0
    
    li
      font-family: "Open Sans"
      font-weight: 700
      font-size: 12px
      color: #efefef
      text-transform: uppercase
      width: $one-eighth
      line-height: 76px
      vertical-align: middle
      display: inline-block
      float: left
      text-align: center
      margin-right: $gutter-size
      
      a
        text-decoration: none
        color: #efefef
      
        &:hover
          text-decoration: underline
          color: #efefef
      
      &.last
        margin-right: 0
      
      &.logo
        min-width: $one-quarter
        background-position: center
        height: 76px

@media only screen and (max-device-width: 480px) 
  #navigation
    .logo
      position:absolute
      top: 10px
      left: 10px
      display:none
      img
        width: 300px  
    ul
      margin-top: -50px
      li
        margin: 0px
        padding: 0px
        width: 100px
      .nav_papers, .nav_story, .nav_talk
        display: none
