#profile
  .content
    background-color: $light-gray
    color: $dark-gray
    margin-top: 80px
    
    .content-block
      clearfix()
      display: block
      width: 100%
      
      $vertical-padding = 30px
      $middle-padding = 100px
      $side-padding = 80px
      
      .left, .right
        font-family: "Open Sans"
        font-weight: 300
        font-size: 12px
        line-height: 20px
        float: left
