#profile
  .content
    background-color: $light-gray
    color: $dark-gray
    margin-top: 80px
    
    #login
      position: relative
      width: $one-half
      margin: 0 auto
      padding: 50px 0
      font-family: "Open Sans"
      text-align: center
      
      .title
        text-align: center
      
      label
        display: block
        margin: 15px 0
        
        &.privacy-policy
          text-align: right
          padding-right: $gutter-size
          
          input
            width: auto
        
        span
          display: inline-block
          text-align: right
          width: $one-quarter - $gutter-size
          padding-right: $gutter-size
        
        input
          width: $one-quarter - $gutter-size
      
      button
        standard-button()
        font-size: 12px
        line-height: 12px
        margin: 10px 0
        padding: 6px 15px
    
    .content-block
      clearfix()
      display: block
      width: 100%
      
      $vertical-padding = 30px
      $middle-padding = 10px
      $side-padding = 40px
      
      .heading
        color: #01050f
        font-family: "Open Sans Condensed"
        font-weight: 300
        font-size: 45px
        margin: 0
        padding: $vertical-padding 0 0 $side-padding
      
      .left, .right
        font-family: "Open Sans"
        font-weight: 400
        font-size: 12px
        line-height: 20px
        float: left
        
        .sub-heading
          color: #23799c
          font-family: "Open Sans"
          font-weight: 700
          font-size: 14px
          padding-bottom: $gutter-size
          
          .pull-right
            float: right
            padding-right: 2 * ($gutter-size)

          
          .recents-link, .favorites-link
            display: inline
            padding-right: $gutter-size
            text-decoration: none
          
          .inactive
            color: #8ACBE6
        
        .gz_3_galaxies
          .sub-heading
            margin-bottom: 0
        
        .thumbnails
          display: block
          
          .item
            display: inline-block
            position: relative
            padding: 0 15px 15px 0
            
            img
              cursor: pointer
            
            .hover-button
              display: none
            
            &:hover
              .hover-button
                standard-button()
                color: $dark-gray
                position: absolute
                top: -12.5px
                right: 2.5px
                padding: 0 5px
                border-radius: 10px
                line-height: 20px
                font-size: 20px
                
                &.active
                  color: $blue
        
        .classification-counts
          color: #01050f
          font-family: "Open Sans"
          font-size: 30px
          font-weight: 400
          padding: 0 0 $gutter-size 0
          
          .count
            font-weight: 700
          
          .hubble
            background-image: url('images/gz-icon-hubble.png')
            background-repeat: no-repeat
            padding-left: 2 * $gutter-size
            padding-bottom: $gutter-size
          
          .sdss
            background-image: url('images/gz-icon-sdss.png')
            background-repeat: no-repeat
            padding-left: 2 * $gutter-size
          
          .quizzes
            background-image: url('images/gz-icon-quizzes.png')
            background-repeat: no-repeat
            padding-left: 2 * $gutter-size
          
          .caption
            font-size: 12px
            display: block
            padding-top: 6px
          
          button
            standard-button()
            margin: 10px 0
            padding: 5px 15px
            font-size: 13px
      
      .left
        padding: 0 ($middle-padding / 2) $vertical-padding $side-padding
        width: ($full-width * 0.70) - ($middle-padding / 2) - $side-padding
        float: left
      
      .right
        padding: 0 $side-padding $vertical-padding ($middle-padding / 2)
        width: ($full-width * 0.29) - ($middle-padding / 2) - $side-padding
        float: left
        min-height: 565px
