.dialog
  width: $three-quarters
  
  .quiz-invitation, .quiz-question
    $padding = 30px
    font-family: "Open Sans"
    background-color: $light-gray
    color: $dark-gray
    
    h1
      font-weight: 300
      font-size: 42px
      line-height: 40px
      margin: 10px 0
      padding: 20px 20px 0 20px
    
    .sub-title
      width: 450px
      font-weight: 600
      font-size: 13px
      color: $blue
      padding: 0 0 $padding 0
      margin: 0 auto
    
    .content-block
      clearfix()
      padding: $padding
      -webkit-box-shadow: 0px -1px 0px #FFFFFF, 0px -2px 0px #D9D9D9
      -moz-box-shadow: 0px -1px 0px #FFFFFF, 0px -2px 0px #D9D9D9
      box-shadow: 0px -1px 0px #FFFFFF, 0px -2px 0px #D9D9D9
      
      .left, .right
        font-size: 12px
        
        p, ul
          text-align: left
          margin: 0
        
        ul
          list-style-type: upper-alpha
          
          li
            color: $blue
        
        .reward
          width: 275px
          color: $blue
          margin-bottom: $padding + 5px
        
        .call
          font-size: 15px
          font-weight: 600
          margin-bottom: 20px
        
        .question
          color: $blue
          margin: 12px 0
        
        .buttons button
          standard-button()
          margin-left: 6px
          padding: 6px 20px
        
        .bold
          font-weight: 600
      
      .left
        float: left
        width: 330px
      
      .right
        float: right
        width: 300px
    
    &.reminder
      .left .reward
        margin: 10px 0 0 0
      
      .right .call
        margin: 0 0 25px 45px
    
    &.quiz-question
      .content-block
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        padding: 0
        
        .question
          -webkit-box-shadow: 0px 1px 0px #D9D9D9, 0px 2px 0px #FFFFFF
          -moz-box-shadow: 0px 1px 0px #D9D9D9, 0px 2px 0px #FFFFFF
          box-shadow: 0px 1px 0px #D9D9D9, 0px 2px 0px #FFFFFF
          padding: 20px
          margin: 0
          
          h1
            font-size: 20px
            line-height: 30px
            text-align: left
            margin: 0
            padding: 0
        
        .answers
          text-align: left
          list-style-type: upper-alpha
          margin: 20px 0
          padding: 0 0 0 40px
          
          .answer
            padding: 2px 20px 2px 2px
  
  .quiz-question
    .answers
      .answer
        [data-dialog="true"]
          cursor: pointer
