#science, #story, #papers, #team, #examine
  margin: 0px
  width: 100%

  .content
    background-color: $light-gray
    color: $dark-gray

    margin: 0px
    padding: 0px
    width: 100%
    max-height: 100%
    overflow-y: scroll
    -webkit-overflow-scrolling: touch;

    .content-block
      clearfix()
      display: block
      width: 100%
      
      $vertical-padding = 30px
      $middle-padding = 100px
      $side-padding = 80px
      
      .left, .right, .full
        font-family: "Open Sans"
        font-weight: 400
        font-size: 12px
        line-height: 20px
        float: left
        
        .heading
          font-family: "Open Sans Condensed"
          font-weight: 300
          font-size: 32px
          line-height: 55px
          padding-bottom: 4px
        
        .sub-heading
          font-family: "Open Sans Condensed"
          color: #23799C
          margin: 0px
          
          &.spaced
            margin-top: 25px
          
        .person
          font-weight: 700
        
        ul
          list-style: none
          margin: 0
          padding: 0 0 0 20px
          
          a
            text-decoration: none
            color: #23799C
          
          &.papers
            list-style: disc
      
      .full
        padding: $vertical-padding $side-padding $vertical-padding $side-padding

      .left
        padding: $vertical-padding ($middle-padding / 2) $vertical-padding $side-padding
        width: ($full-width * 0.60) - ($middle-padding / 2) - $side-padding
        float: left
        
        p
          margin: 0px 0px 12px 0px
      
      .right
        padding: $vertical-padding $side-padding $vertical-padding ($middle-padding / 2)
        width: ($full-width * 0.39) - ($middle-padding / 2) - $side-padding
        float: left
        
        p
          margin: 0px 0px 12px 0px

@media only screen and (max-device-width: 480px) 
  #science
    .content
      .content-block
        .full
          padding: 40px
          .heading
            content: "The Science behind the project"
