.zooniverse-top-bar {
  background: #111111;
  border-bottom: 1px solid #555555;
  color: #dddddd;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 500;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100; }
  .zooniverse-top-bar > div {
    margin: 0 auto; }
  .zooniverse-top-bar a {
    color: inherit;
    text-decoration: none; }
  .zooniverse-top-bar a.z-logo {
    background: url("lib/zooniverse/zooniverse-logo.png") center 5px no-repeat;
    color: transparent;
    display: inline-block;
    height: 13px;
    letter-spacing: -2em;
    overflow: hidden;
    text-indent: -4em;
    width: 120px; }
    .zooniverse-top-bar a.z-logo:hover {
      background-position: center -39px; }
  .zooniverse-top-bar ul {
    margin: 0;
    padding: 0; }
    .zooniverse-top-bar ul > li {
      display: block; }
  .zooniverse-top-bar > div > ul {
    float: left;
    margin-left: 1px; }
    .zooniverse-top-bar > div > ul > li {
      float: left; }
      .zooniverse-top-bar > div > ul > li > :first-child {
        display: block;
        padding: 6px 16px;
        border-right: 1px solid #555555;
        cursor: pointer; }
        .zooniverse-top-bar > div > ul > li > :first-child:hover {
          color: white; }
    .zooniverse-top-bar > div > ul.last-child {
      float: right;
      margin-right: 1px; }
      .zooniverse-top-bar > div > ul.last-child > li > :first-child {
        border-left: 1px solid #555555;
        border-right: 0; }
    .zooniverse-top-bar > div > ul .z-dropdown {
      position: relative; }
      .zooniverse-top-bar > div > ul .z-dropdown > .last-child {
        background: #111111;
        border: 1px solid #555555;
          border-radius: 0 0 4px 4px;
          border-top: 0;
        left: -1px;
        margin-top: 1px;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 100%;
        white-space: nowrap; }
      .zooniverse-top-bar > div > ul .z-dropdown:hover {
        z-index: 1; }
      .zooniverse-top-bar > div > ul .z-dropdown > ul > li > a {
        display: block;
        padding: 6px 16px;
        border-top: 1px solid #555555;
        cursor: pointer; }
        .zooniverse-top-bar > div > ul .z-dropdown > ul > li > a:hover {
          color: white; }
        .zooniverse-top-bar > div > ul .z-dropdown > ul > li > a:hover {
          background: #111111; }
        .zooniverse-top-bar > div > ul .z-dropdown > ul > li > a > em {
          color: #555555;
          font-style: normal; }
    .zooniverse-top-bar > div > ul.last-child .z-dropdown > .last-child {
      left: auto;
      right: -1px; }
    .zooniverse-top-bar > div > ul .z-accordion > :first-child {
      display: block;
      padding: 6px 16px;
      border-top: 1px solid #555555;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      text-transform: none; }
      .zooniverse-top-bar > div > ul .z-accordion > :first-child:hover {
        color: white; }
      .zooniverse-top-bar > div > ul .z-accordion > :first-child:hover {
        background: #111111; }
      .zooniverse-top-bar > div > ul .z-accordion > :first-child > em {
        color: #555555;
        font-style: normal; }
    .zooniverse-top-bar > div > ul .z-accordion > .last-child {
      overflow: hidden; }
      .zooniverse-top-bar > div > ul .z-accordion > .last-child > li a {
        display: block;
        padding: 6px 16px;
        border-top: 1px solid #555555;
        cursor: pointer; }
        .zooniverse-top-bar > div > ul .z-accordion > .last-child > li a:hover {
          color: white; }
        .zooniverse-top-bar > div > ul .z-accordion > .last-child > li a:hover {
          background: #111111; }
        .zooniverse-top-bar > div > ul .z-accordion > .last-child > li a > em {
          color: #555555;
          font-style: normal; }
    .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form {
      border-top: 1px solid #555555; }
      .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form label {
        display: block;
        margin: 15px 0;
        text-align: center; }
        .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form label > span {
          display: inline-block;
          width: 15em; }
      .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form p {
        margin: 0; }
      .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form button {
        border-top: 1px solid #555555;
        cursor: pointer;
        background: transparent;
        border: 1px solid #555555;
        color: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        padding: 0.25em 1.5em; }
        .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form button:hover {
          background: #111111; }
        .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form button > em {
          color: #555555;
          font-style: normal; }
      .zooniverse-top-bar > div > ul .z-login > .zooniverse-login-form > div {
        margin: 20px;
        text-align: center; }
